<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="543794742463-1fr8ub7albk8pfb2fvnvl0cdedo1to9.apps.googleusercontent.com">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

    <h1>Login Form</h1>
 
    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    <button class="g-signin2" data-onsuccess="onSignIn"></button>
    </form>



    
</body>
</html>